<%- include('../partials/admin_header', { title: "Events", subtitle: `${count} Events`}) -%>

<div class="w-full flex flex-col gap-8">
    <div class="">
        <% if (locals.apikey || locals.model) { %>
        <div class="text-sm pb-6 flex flex-col gap-4">
            <% if (locals.apikey) { %>
            <div><strong>API Key</strong> <code><%= locals.apikey %></code></div>
            <% } %>
            <% if (locals.model) { %>
            <div><strong>MODEL</strong> <code><%= locals.model %></code></div>
            <% } %>
            <a href="/admin/events" class="text-xs text-gray-500">Clear</a>
        </div>
        <% } %>

        <table>
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Model</th>
                    <th>Usage</th>
                    <th>Input</th>
                    <th>Output</th>
                    <th>Response</th>
                </tr>
            </thead>
            <tbody>
                <% for (let event of events) { -%>
                <tr onclick="window.location='/admin/events/<%= event.id %>'" class="cursor-pointer">
                    <td class="whitespace-nowrap text-sm">
                        <div><%= locals.timeSince(event.createdAt) %></div>
                        <div class="text-sm text-mod-light-gray"><%= event.APIKeyId.split("-")[0] %></div>
                    </td>
                    <td>
                        <div class="whitespace-nowrap truncate text-mod-gray flex items-center gap-1">
                            <img src="/images/<%= event.Model.service %>-icon.png" class="w-4 h-4" />
                            <div class="flex gap-[1px]">
                                <div><%= event.Model.service %></div>/<div class="font-medium text-mod-dark-gray"><%= event.Model.model %></div>
                            </div>
                        </div>
                    </td>
                    <td class="text-sm">
                        <div><%= locals.smartRound(event.cost) %></div>
                        <div class="whitespace-nowrap text-mod-gray"><%= event.tokens %> tokens</div>
                    </td>
                    <td><%= event.inputPreview() %></td>
                    <td><%= event.outputPreview() %></td>
                    <td>
                        <%- include('_response_code', { response_code: event.response_code }) -%>
                    </td>
                </tr>
                <% } %>
                <% if (events.length === 0) { %>
                <tr>
                    <td colspan="7" class="p-2 text-center">No events found</td>
                </tr>
                <% } %>
            </tbody>
        </table>
        <div class="flex gap-4 justify-center my-8">
            <% for (let page = 0; (page * limit) < count; page++) { %>
            <% const active = offset == page * limit ? "bg-mod-lightest-gray/60 font-medium text-mod-black" : "bg-mod-lightest-gray/20 text-mod-gray" %>
            <a class="<%= active %> hover:bg-mod-lightest-gray/60 p-2 min-w-8 text-center rounded-sm" href="/admin/events/?offset=<%= page * limit %>&limit=<%= limit %>"><%= page + 1%></a>
            <% } %>
        </div>

    </div>
</div>

<%- include('../partials/admin_footer') -%>