<%- include('../partials/page_header', { title: "Events"}) -%>

<div class="w-full flex flex-col gap-8">
    <div class="">
        <table class="w-full">
            <tr>
                <th class="text-left p-2">Endpoint</th>
                <th class="text-left p-2">Service</th>
                <th class="text-left p-2">Model</th>
                <th class="text-left p-2">Options</th>
                <th class="text-left p-2">Secrets</th>
                <th class="text-left p-2">Actions</th>
            </tr>
            <% for (let event of events) { -%>
            <tr>
                <td class="p-2"><%= event.APIKeyId %></td>
                <td class="p-2"><%= event.messages[0].content.substr(0, 70) %>...</td>
                <td class="p-2"><%= event.response_data.substr(0, 70) %>...</td>
                <td class="p-2"><%= event.response_code %></td>
                <td class="p-2"><%= event.Model.model %></td>
                <td class="p-2"><%= event.Model.service %></td>
                <td class="p-2"><%= locals.Envtools.fromJSON(event.options) %></td>
                <td class="p-2"><%# Object.keys(model.secrets).join(", ") %></td>
                <td class="p-2">
                </td>
            </tr>
            <% } %>
            <% if (events.length === 0) { %>
            <tr>
                <td colspan="6" class="p-2 text-center">No events found</td>
            </tr>
            <% } %>
        </table>
    </div>
</div>

<%- include('../partials/page_footer') -%>