<%- include('../partials/page_header', { title: "Events", subtitle: `${events.length} events`}) -%>

<div class="w-full flex flex-col gap-8">
    <div class="">

        <% if (locals.apikey || locals.model) { %>
        <div class="text-sm pb-6 flex flex-col gap-4">
            <% if (locals.apikey) { %>
            <div><strong>API Key</strong> <code><%= locals.apikey %></code></div>
            <% } %>
            <% if (locals.model) { %>
            <div><strong>MODEL</strong> <code><%= locals.model %></code></div>
            <% } %>
            <a href="/admin/events" class="text-xs text-gray-500">Clear</a>
        </div>
        <% } %>

        <table>
            <thead>
                <tr>
                    <th>Time</th>
                    <th>API Key</th>
                    <th>Model</th>
                    <th>Tokens</th>
                    <th>Input</th>
                    <th>Output</th>
                    <th>Response</th>
                </tr>
            </thead>
            <tbody>
                <% for (let event of events) { -%>
                <tr onclick="window.location='/admin/events/<%= event.id %>'" class="cursor-pointer">
                    <td class="whitespace-nowrap"><%= locals.timeSince(event.createdAt) %> ago</td>
                    <td class="whitespace-nowrap"><%= event.APIKeyId.split("-")[0] %></td>
                    <td class="whitespace-nowrap">
                        <%= event.Model.service %>/<%= event.Model.model %>
                    </td>
                    <td><%= event.tokens %></td>
                    <td><%= event.messages[0].content.substr(0, 70) %>...</td>
                    <td><%= event.response_data.substr(0, 70) %>...</td>
                    <td>
                        <%- include('_response_code', { response_code: event.response_code }) -%>
                    </td>
                </tr>
                <% } %>
                <% if (events.length === 0) { %>
                <tr>
                    <td colspan="6" class="p-2 text-center">No events found</td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</div>

<%- include('../partials/page_footer') -%>