<%- include('../partials/admin_header', { title: "Event", subtitle: "Details about API Event"}) -%>

<div class="flex gap-8 mb-4">
    <a href="/admin/events" class="button toolbar small">← Back to Events</a>
</div>

<div class="flex flex-col gap-8 justify-start w-full">

    <div class="flex flex-col gap-1">
        <div class="uppercase text-xs">
            Response Code
        </div>
        <div>
            <%- include('_response_code', { response_code: event.response_code }) -%>
        </div>
    </div>

    <div class="flex flex-col gap-1">
        <div class="uppercase text-xs">
            Date
        </div>
        <div>
            <%= locals.timeSince(event.createdAt) %>
            <div class="text-sm text-gray-500">
                <%= event.createdAt %>
            </div>
        </div>
    </div>

    <div class="flex flex-col gap-1">
        <div class="uppercase text-xs">
            Model
        </div>
        <div class="flex gap-2 items-center">
            <a href="/admin/models/<%= event.ModelId %>">
                <code><%= event.Model.service %>/<%= event.Model.model %></code>
            </a>
            <div class="bg-gray-500 text-white py-[1px] px-[4px] rounded-lg text-xs font-mono flex"><%= event.Model.model_type %></div>
        </div>
    </div>

    <div class="flex flex-col gap-1">
        <div class="uppercase text-xs">
            API Key
        </div>
        <a href="/admin/events/?apikey=<%= event.APIKeyId %>">
            <code><%= event.APIKeyId %></code>
        </a>
    </div>

    <div class="flex flex-col gap-1">
        <div class="uppercase text-xs">
            Usage
        </div>
        <div>
            <table>
                <tr>
                    <th class="uppercase text-xs">
                    </th>
                    <th class="uppercase text-xs">
                        Input
                    </th>
                    <th class="uppercase text-xs">
                        Output
                    </th>
                    <th class="uppercase text-xs w-full">
                        Total
                    </th>
                </tr>
                <tr>
                    <td>Tokens</td>
                    <td><%= event.messages_tokens %></td>
                    <td><%= event.response_tokens %></td>
                    <td><%= event.tokens %></td>
                </tr>
                <tr>
                    <td>Cost</td>
                    <td><%= smartRound(Number(event.messages_cost)) %></td>
                    <td><%= smartRound(Number(event.response_cost)) %></td>
                    <td><%= smartRound(Number(event.cost)) %></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="flex flex-col gap-1">
        <div class="uppercase text-xs">
            Options
        </div>
        <div class="overflow-y-scroll">
            <table>
                <% for (const [key, value] of Object.entries(event.options)) { %>
                <tr>
                    <td class="font-mono"><%= key %></td>
                    <td class="w-full font-mono whitespace-pre"><%= (typeof value === "object" ? JSON.stringify(value, null, 4) : value) %></td>
                </tr>
                <% } %>
            </table>
        </div>
    </div>

    <div class="flex flex-col gap-1">
        <% if (event.Model.model_type === "llm") { -%>
        <div class="uppercase text-xs">
            Messages
        </div>
        <div>
            <div class="flex flex-col gap-8 w-full my-4">
                <% for (let message of event.messages) { -%>
                <div class="flex">
                    <div class="text-sm w-full">
                        <strong class="uppercase font-medium"><%= message.role %></strong>
                        <div class="prose-sm whitespace-pre-wrap overflow-y-scroll w-full"><%= message.content %></div>
                    </div>
                </div>
                <% } %>

                <div class="flex bg-gray-50 p-2 -m-2 w-full">
                    <div class="text-sm w-full">
                        <strong class="uppercase font-medium">Assistant</strong>
                        <div class="prose-sm whitespace-pre-wrap overflow-y-scroll w-full"><%= event.response_data %></div>
                    </div>
                </div>
            </div>
        </div>
        <% } else if (event.Model.model_type === "embedding") { -%>
        <div class="uppercase text-xs">
            Embedding
        </div>
        <div>
            <div class="flex flex-col gap-8 w-full my-4">
                <div class="flex">
                    <div class="text-sm w-full">
                        <strong class="uppercase font-medium">Input</strong>
                        <div class="prose-sm whitespace-pre-wrap overflow-y-scroll w-full"><%= event.messages %></div>
                    </div>
                </div>

                <div class="flex bg-gray-50 p-2 -m-2 w-full">
                    <div class="text-sm w-full">
                        <strong class="uppercase font-medium">Embedding</strong>
                        <div class="prose-sm whitespace-pre-wrap overflow-y-scroll w-full"><%= event.response_data %></div>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
    </div>
</div>

<%- include('../partials/admin_footer') -%>