<%- include('../partials/page_header', { title: "Event Details"}) -%>

<div class="flex flex-col gap-8 justify-start w-full">

    <div class="flex flex-col gap-1">
        <div class="uppercase text-xs">
            Time
        </div>
        <div>
            <%= locals.timeSince(event.createdAt) %> <span class="text-sm text-gray-500"><%= event.createdAt %>)</span>
        </div>
    </div>

    <div class="flex flex-col gap-1">
        <div class="uppercase text-xs">
            Model
        </div>
        <div class="flex gap-2 items-center">
            <a href="/admin/models/<%= event.ModelId %>">
                <code><%= event.Model.service %>/<%= event.Model.model %></code>
            </a>
            <div class="bg-gray-500 text-white py-[1px] px-[4px] rounded-sm text-xs font-mono flex"><%= event.Model.model_type %></div>
        </div>
    </div>

    <div class="flex flex-col gap-1">
        <div class="uppercase text-xs">
            API Key
        </div>
        <a href="/admin/events/?apikey=<%= event.APIKeyId %>">
            <code><%= event.APIKeyId %></code>
        </a>
    </div>

    <div class="flex flex-col gap-1">
        <div class="uppercase text-xs">
            Usage (Cost)
        </div>
        <div>
            <div>$<%= smartRound(Number(event.cost)) %> total</div>
            <div>$<%= smartRound(Number(event.messages_cost)) %> input</div>
            <div>$<%= smartRound(Number(event.response_cost)) %> output</div>
        </div>
    </div>

    <div class="flex flex-col gap-1">
        <div class="uppercase text-xs">
            Usage (Tokens)
        </div>
        <div>
            <div><%= event.tokens %> tokens</div>
            <div><%= event.messages_tokens %> input</div>
            <div><%= event.response_tokens %> output</div>
        </div>
    </div>

    <div class="flex flex-col gap-1">
        <div class="uppercase text-xs">
            Options
        </div>
        <div>
            <code>
                <pre><%= locals.Envtools.fromJSON(event.options) || "-" %></pre>
            </code>
        </div>
    </div>

    <div class="flex flex-col gap-1">
        <div class="uppercase text-xs">
            Response Code
        </div>
        <div>
            <%- include('_response_code', { response_code: event.response_code }) -%>
        </div>
    </div>

    <div class="flex flex-col gap-1">
        <% if (event.Model.model_type === "llm") { -%>
        <div class="uppercase text-xs">
            Messages
        </div>
        <div>
            <div class="flex flex-col gap-8 w-full my-4">
                <% for (let message of event.messages) { -%>
                <div class="flex">
                    <div class="text-sm w-full">
                        <strong class="uppercase font-medium"><%= message.role %></strong>
                        <div class="prose-sm whitespace-pre-wrap overflow-y-scroll w-full"><%= message.content %></div>
                    </div>
                </div>
                <% } %>

                <div class="flex bg-gray-50 p-2 -m-2 w-full">
                    <div class="text-sm w-full">
                        <strong class="uppercase font-medium">Assistant</strong>
                        <div class="prose-sm whitespace-pre-wrap overflow-y-scroll w-full"><%= event.response_data %></div>
                    </div>
                </div>
            </div>
        </div>
        <% } else if (event.Model.model_type === "embedding") { -%>
        <div class="uppercase text-xs">
            Embedding
        </div>
        <div>
            <div class="flex flex-col gap-8 w-full my-4">
                <div class="flex">
                    <div class="text-sm w-full">
                        <strong class="uppercase font-medium">Input</strong>
                        <div class="prose-sm whitespace-pre-wrap overflow-y-scroll w-full"><%= event.messages %></div>
                    </div>
                </div>

                <div class="flex bg-gray-50 p-2 -m-2 w-full">
                    <div class="text-sm w-full">
                        <strong class="uppercase font-medium">Embedding</strong>
                        <div class="prose-sm whitespace-pre-wrap overflow-y-scroll w-full"><%= event.response_data %></div>
                    </div>
                </div>
            </div>
        </div>
        <% } %>

        <%- include('../partials/page_footer') -%>