<% if (!locals.htmx) { %>
<%- include('./header') -%>
<% } %>
<div class="wrapper">
    <div class="bg"></div>
    <div class="relative z-20 flex flex-col min-h-screen h-full w-full">
        <div class="w-full max-w-7xl mx-auto p-4 py-2 flex flex-col lg:pt-8 gap-4">
            <div class="flex flex-col md:flex-row items-center gap-1">
                <img src="/images/icon.png" class="w-12 h-12" />
                <div class="flex items-baseline gap-4">
                    <a href="/" class="flex items-center gap-2">
                        <h1 class="text-mod-dark-blue text-3xl md:text-4xl lg:text-5xl font-bold"><%= locals.title %></h1>
                    </a>
                    <h2 class="text-mod-gray text-2xl font-medium"><%= locals.subtitle %></h2>
                </div>
            </div>
            <div>
                <div class="flex gap-8 font-bold text-lg lg:text-xl items-end">
                    <a href="/admin/models" class="border-b-2 <%= locals.isPath("/admin/models") ? "border-mod-black" : "border-transparent" %>">Models</a>
                    <% if (locals.isPath("/admin/models")) { %>
                    <a href="/admin/models/add" class="text-mod-gray mr-4 lg:mr-8">
                        Add
                    </a>
                    <% } %>
                    <a href="/admin/events" class="border-b-2 <%= locals.isPath("/admin/events") ? "border-mod-black" : "border-transparent" %>">Events</a>
                    <a href="/admin/apikeys" class="border-b-2 <%= locals.isPath("/admin/apikeys") ? "border-mod-black" : "border-transparent" %>">Keys</a>
                    <a href="/users/profile" class="border-b-2 <%= locals.isPath("/users/profile") ? "border-mod-black" : "border-transparent" %>">Profile</a>
                </div>
            </div>
        </div>
        <div class="mx-auto max-w-7xl w-full">
            <div class="admin-content bg-mod-white gap-2 flex flex-col md:rounded-lg md:shadow-lg relative z-20 min-h-[200px] p-4 pt-2 overflow-x-scroll">
                <%- include('flash') -%>