<%- include('../partials/page_header', { title: "Models"}) -%>

<div class="w-full flex flex-col gap-8">
    <div class="flex justify-end">
        <a href="/admin/models/add" class="button purple flex items-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
            </svg>
            Add Model</a>
    </div>
    <div class="">
        <table>
            <thead>
                <tr>
                    <th>Endpoint</th>
                    <th>Service</th>
                    <th>Model</th>
                    <th>Options</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% for (let model of models) { -%>
                <tr>
                    <td><%= model.id.split("-")[0] %></td>
                    <td><%= model.service %></td>
                    <td><%= model.model %></td>
                    <td class="whitespace-pre-wrap"><%= Object.keys(model.options).join("\n") %></td>
                    <td class="whitespace-nowrap">
                        <a href="/admin/models/<%= model.id %>" class="button purple">Show</a>
                        <a href="/admin/events?model=<%= model.id %>" class="button">Events</a>
                    </td>
                </tr>
                <% } %>
                <% if (models.length === 0) { %>
                <tr>
                    <td colspan="6" class="text-center">No models found</td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</div>

<%- include('../partials/page_footer') -%>