<%- include('../partials/admin_header', { title: "Models", subtitle: "Manage deployed AI models"}) -%>

<div class="w-full flex flex-col gap-8">
    <table>
        <thead>
            <tr>
                <th>Model</th>
                <th>Activity</th>
                <th>Options</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% for (let model of models) { -%>
            <tr>
                <td class="">
                    <a href="/admin/models/<%= model.id %>" class="large flex gap-1 items-center whitespace-nowrap">
                        <img src="/images/<%= model.service %>-icon.png" class="w-4 h-4" />
                        <span class="font-medium">
                            <%= model.service %>/<%= model.model %>
                        </span>
                        <span class="text-mod-light-gray">
                            <%= model.model_type %>
                        </span>
                    </a>
                    <div class="text-mod-light-gray"><%= model.id.split("-")[0] %></div>
                </td>
                <td class="whitespace-pre-wrap text-xs"><%= model.Events.length %></td>
                <td class="whitespace-pre-wrap text-xs w-full"><%= Object.keys(model.options).join("\n") %></td>
                <td class="row-buttons">
                    <a href="/admin/models/<%= model.id %>">Show</a>
                    <a href="/admin/events?model=<%= model.id %>">Events</a>
                </td>
            </tr>
            <% } %>
            <% if (models.length === 0) { %>
            <tr>
                <td colspan="4" class="text-center">No models found</td>
            </tr>
            <% } %>
        </tbody>
    </table>
</div>

<%- include('../partials/admin_footer') -%>