<%- include('../partials/admin_header', { title: "Model", subtitle: "Manage deployed AI model"}) -%>

<div class="flex gap-8 mb-4">
    <a href="/admin/models" class="button toolbar small">← Back to Models</a>
</div>

<div class="flex flex-col gap-8 justify-start w-full">

    <div class="flex flex-col gap-1">
        <div class="text-xl font-bold">
            <%= model.service %>/<%= model.model %> (<%= model.model_type %>)
        </div>
        <code class="text-sm font-mono text-mod-light-gray"><%= model.id %></code>
    </div>

    <div class="flex flex-col gap-1">
        <div class="uppercase text-xs">
        </div>
        <div class="overflow-y-scroll">
            <table>
                <tr>
                    <th class="uppercase text-xs">
                        Option
                    </th>
                    <th class="w-full uppercase text-xs">Value</th>
                </tr>
                <% for (const [key, value] of Object.entries(model.options)) { %>
                <tr>
                    <td><%= key %></td>
                    <td class="w-full"><%= value %></td>
                </tr>
                <% } %>
            </table>
        </div>
    </div>

    <% if (model.apikeys.length > 0) { %>
    <div class="flex flex-col gap-1">
        <div class="uppercase text-xs">
            API Keys
        </div>
        <div class="flex flex-col gap-2">
            <div class="overflow-y-scroll">
                <code>
                    <% for (const apikey of model.apikeys) { %>
                    <a href="/admin/apikeys/<%= apikey.id %>/"><%= apikey.id %></a>
                    <% } %>
                </code>
            </div>
        </div>
    </div>
    <% } %>

</div>

<hr class="my-4" />

<div class="flex gap-8">
    <a href="/admin/events?model=<%= model.id %>" class="button toolbar">Events</a>
    <form hx-post="/admin/apikeys/add" action="/admin/apikeys/add" method="POST">
        <input type="text" name="ModelId" value="<%= model.id %>" hidden>
        <button type="submit" class="button toolbar">Generate API Key</button>
    </form>
    <div class="grow"></div>
    <a href="/admin/models/<%= model.id %>/edit" class="button toolbar">Edit</a>
    <form hx-post="/admin/models/<%= model.id %>/remove" action="/admin/models/<%= model.id %>/remove" method="POST">
        <button type="submit" class="button toolbar red" onclick="return confirm('Are you sure you want to delete this model?')">Delete</button>
    </form>
</div>

<%- include('../partials/admin_footer') -%>