<%- include('../partials/page_header', { title: "API Keys"}) -%>

<div class="w-full flex flex-col gap-8">
    <div class="">
        <table class="w-full">
            <thead>
                <tr>
                    <th>Key</th>
                    <th>Model</th>
                    <th>Service</th>
                    <th>Usage</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% for (let apikey of apikeys ) { -%>
                <tr>
                    <td><%= apikey.id %></td>
                    <td><%= apikey.Model.model %></td>
                    <td><%= apikey.Model.service %></td>
                    <td>
                        <div>
                            $<%= locals.smartRound(apikey.cost) %>
                        </div>
                        <div class="whitespace-nowrap">
                            <%= apikey.tokens %> tokens
                        </div>
                    </td>
                    <td>
                        <a href="/admin/events/?apikey=<%= apikey.id %>" class="button">Events</a>
                        <a href="/admin/apikeys/<%= apikey.id %>" class="button purple">Show</a>
                    </td>
                </tr>
                <% } %>
                <% if (apikeys.length === 0) { %>
                <tr>
                    <td colspan="5" class="text-center">No api keys found. Create them from a model or from the API.</td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</div>

<%- include('../partials/page_footer') -%>