<%- include('../partials/admin_header', { title: "Keys", subtitle: "API Keys for AI models"}) -%>

<div class="w-full flex flex-col gap-8">
    <div class="">
        <table class="w-full">
            <thead>
                <tr>
                    <th>Key</th>
                    <th>Model</th>
                    <th>Usage</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% for (let apikey of apikeys ) { -%>
                <tr>
                    <td class="font-mono whitespace-nowrap">
                        <a href="/admin/apikeys/<%= apikey.id %>" class="large">
                            <%= apikey.id %>
                        </a>
                    </td>
                    <td class="whitespace-nowrap w-full">
                        <div class="flex gap-1 items-center">
                            <img src="/images/<%= apikey.Model.service %>-icon.png" class="w-4 h-4" />
                            <%= apikey.Model.service %>/<%= apikey.Model.model %>
                        </div>
                    </td>
                    <td>
                        <div>
                            <%= locals.smartRound(apikey.cost) %>
                        </div>
                        <div class="whitespace-nowrap">
                            <%= apikey.tokens %> tokens
                        </div>
                    </td>
                    <td>
                        <a href="/admin/events/?apikey=<%= apikey.id %>">Events</a>
                        <a href="/admin/apikeys/<%= apikey.id %>">Show</a>
                    </td>
                </tr>
                <% } %>
                <% if (apikeys.length === 0) { %>
                <tr>
                    <td colspan="4" class="text-center">No API Keys found. Create them from a model or from the API.</td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</div>

<%- include('../partials/admin_footer') -%>