<%- include('../partials/admin_header', { title: "API Key", subtitle: "Details for API Key"}) -%>

<div class="flex flex-col gap-8 justify-start w-full">

    <div class="flex flex-col gap-1">
        <div class="uppercase text-xs">
            API Key
        </div>
        <div>
            <code><%= apikey.id %></code>
        </div>
    </div>

    <div class="flex flex-col gap-1">
        <div class="uppercase text-xs">
            Model
        </div>
        <div>
            <div>
                <a href="/admin/models/<%= apikey.Model.id %>" class="flex gap-1 items-center">
                    <img src="/images/<%= apikey.Model.service %>-icon.png" class="w-4 h-4" />
                    <%= apikey.Model.service %>/<%= apikey.Model.model %>
                    <div class="text-xs text-gray-500 font-mono"><%= apikey.Model.id.split("-")[0] %></div>
                </a>
            </div>
        </div>
    </div>

    <div class="flex flex-col gap-1">
        <div class="uppercase text-xs">
            Cost
        </div>
        <div>
            <%= locals.smartRound(apikey.cost) %>
        </div>
    </div>

    <div class="flex flex-col gap-1">
        <div class="uppercase text-xs">
            Tokens
        </div>
        <div>
            <%= apikey.tokens %> tokens
        </div>
    </div>

    <div class="flex flex-col gap-1">
        <div class="uppercase text-xs">
            Usage
        </div>
        <div class="bg-mod-lightest-gray/20 p-4">
            <pre class="font-mono" style="background: linear-gradient(to right, black 0ch, #E68 0ch, #E68 6ch, black 6ch, black 11ch, #E68 11ch, #E68 15ch, black 15ch, black 80ch), linear-gradient(to right, black 0ch, #78dce8 0ch, #78dce8 5ch, black 5ch, black 12ch, #E68 12ch, #E68 15ch, black 15ch, black 16ch, #a6e22e 16ch, #a6e22e 19ch, black 19ch, black 80ch), linear-gradient(to right, black 0ch, black 0ch, black 80ch), linear-gradient(to right, black 0ch, black 0ch, black 80ch), linear-gradient(to right, black 0ch, black 0ch, black 80ch), linear-gradient(to right, black 0ch, black 0ch, black 80ch), linear-gradient(to right, black 0ch, #E68 0ch, #E68 5ch, black 5ch, black 6ch, #a6e22e 6ch, #a6e22e 9ch, black 9ch, black 21ch, #E68 21ch, #E68 23ch, black 23ch, black 80ch); background-repeat: no-repeat; background-size: 80ch 22px, 80ch 44px, 80ch 66px, 80ch 88px, 80ch 110px, 80ch 132px, 80ch 154px; background-clip: text; -webkit-background-clip: text; color: transparent; width: 80ch; font-family: monospace; font-size: 20px; line-height: 22px;">import LLM from "@themaximalist/llm.js"
const llm = new LLM({
    service: "modeldeployer",
    model: "<%= apikey.id %>",
});

await LLM("the color of the sky is");
</pre>
        </div>
    </div>
</div>

<hr class="my-4" />

<div class="flex gap-8">
    <a href="/admin/events?apikey=<%= apikey.id %>" class="button toolbar">Events</a>
    <div class="grow"></div>
    <form hx-post="/admin/apikeys/<%= apikey.id %>/remove" action="/admin/apikeys/<%= apikey.id %>/remove" method="POST">
        <button type="submit" class="button toolbar red" onclick="return confirm('Are you sure you want to delete this apikey?')">Delete</button>
    </form>
</div>

<%- include('../partials/admin_footer') -%>